.image-selector {
    display: none;
}
#img_selector_view_pattern {
    display: none;
}
div.image-selector-view {
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: url("../img/no-image.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
div.image-selector-view .control {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: rgba(160, 160, 160, .5);
    text-align: center;
    opacity: 0;
}
div.image-selector-view .control:hover {
    opacity: 1;
}
div.image-selector-view .control button {
    margin-top: 25px;
}

.page-header {
    margin: 0px 0 15px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 0px;
}
.page-header h1 {
    display: inline-block;
}
.page-header .breadcrumb {
    display: inline-block;
    background-color: inherit;
}
.page-header .pull-right {
    margin-top: 20px;
}